<div class="header">
  <h1>To-Do List</h1>
</div>
<div class="content">
  <div class="content__top">
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input #title title="title" type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea #description title="description" class="form-control" id="description"></textarea>
        </div>
        <button type="button" (click)="addTodo(title, description)" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="content__bottom">
    <div *ngFor="let todo of todos" class="card">
      <div class="card-header">
        <span class="badge" [ngClass]="todo.completed ? 'bg-success' : 'bg-secondary'">
          {{todo.completed ? 'DONE!' : 'WIP'}}
        </span>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="toggleComplete" title="Toggle Complete"
            [checked]="todo.completed" (change)="toggleComplete(todo)" />
          <label class="form-check-label" for="toggleComplete">Finish?</label>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{todo.title}}</h5>
        <p class="card-text">{{todo.description}}</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="openEditModal(todo)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="todo._id ? deleteTodo(todo._id) : ''">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Todo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="editTitle" class="form-label">Title</label>
          <input [(ngModel)]="selectedTodo.title" type="text" class="form-control" id="editTitle">
        </div>
        <div class="mb-3">
          <label for="editDescription" class="form-label">Description</label>
          <textarea [(ngModel)]="selectedTodo.description" class="form-control" id="editDescription"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateTodo()">Save changes</button>
      </div>
    </div>
  </div>
</div>